@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --Very-light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--grayish-blue); 
    border-radius: 10px;
  }

html {
  font-size: 15px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--Very-light-gray);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 16px 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

header {
  width: 100%;
  text-align: center;
  color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

header > h1:nth-child(1) {
  font-weight: 200;
}

header > p {
  color: var(--grayish-blue);
  width: 30%;
  margin-top: 12px;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /* margin: auto; */
  justify-content: center;
  align-items: center;
}

.services > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card {
  width: 300px;
  background-color: white;
  /* margin: 12px; */
  box-shadow: 0em 1em 2em 0.01em rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  border-top: solid 5px;
  padding: 32px;
}

.card > p {
  margin: 16px 0;
  color: var(--grayish-blue);
}

.img-container {
  display: flex;
  justify-content: end;
}

#sup {
  border-top-color: var(--cyan);
}

#team {
  border-top-color: var(--red);
}

#karma {
  border-top-color: var(--orange);
}

#calculator {
  border-top-color: var(--blue);
}

@media (min-width: 100px) and (max-width: 500px) {
  header > h1 {
    font-size: 2rem;
  }
  header > p {
    width: 90%;
  }

  .services {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 16px;
  }

  .card {
    width: 70%;
  }
}

@media (min-width: 501px) and (max-width: 1000px) {
  header > p {
    width: 75%;
  }
}
@media (min-width: 1001px) and (max-width: 1200px) {
  header > p {
    width: 80%;
  }
  .services {
    width: 100%;
  }
  .card {
    width: 250px;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  header > p {
    width: 30%;
  }
  .services {
    width: 90%;
  }
}
